<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/index-styles.css" rel="stylesheet"/>
    <title>Dodawanie Skoczka</title>
</head>
<body>
<h1>Tworzenie nowego skoczka</h1>

<form action="#" th:action="@{/add-ski-jumper}" th:object="${skiJumper}" method="post">
    <label>Imie</label>
    <input type="text" th:field="*{name}"/>
    <label>Nazwisko</label>
    <input type="text" th:field="*{surname}"/>
    <label>Kraj</label>
    <select th:field="*{country}">
        <option value="POLAND">Polska</option>
        <option value="CZECH_REPUBLIC">Czechy</option>
        <option value="NORWAY">Norwegia</option>
        <option value="FINLAND">Finlandia</option>
        <option value="GERMANY">Niemcy</option>
        <option value="JAPAN">Japonia</option>
        <option value="ITALY">Włochy</option>
        <option value="AUSTRIA">Austria</option>
        <option value="SWITZERLAND">Szwajcaria</option>
    </select>
    <label>Wiek</label>
    <input type="text" th:field="*{age}"/>
    <label>Rekord Skoku</label>
    <input type="text" th:field="*{jumpRecord}"/>
    <input type="submit" value="Stwórz"/>
</form>

</body>
</html>