<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/index-styles.css" rel="stylesheet"/>
    <title>Edytowanie skoczka</title>
</head>
<body>

<h1>Edydcja skoczka</h1>

<form th:action="@{/edit-ski-jumper}" th:object="${skiJumper}" th:method="put">
    <input type="number" hidden th:field="*{id}"/>
    <label>Imie</label>
    <input type="text" th:field="*{name}"/>
    <label>Nazwisko</label>
    <input type="text" th:field="*{surname}"/>
    <label>Kraj</label>
    <select th:field="*{country}">
        <option th:each="country : ${countriesDict}" th:value="${country.value}" th:text="${country.name}"></option>
    </select>
    <label>Wiek</label>
    <input type="text" th:field="*{age}"/>
    <label>Rekord Skoku</label>
    <input type="text" th:field="*{jumpRecord}"/>
    <input type="submit" value="Edytuj"/>
</form>

</body>
</html>