<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/index-styles.css" rel="stylesheet"/>
    <title>Skoczki</title>

</head>
<body>

<h1>Skoczki</h1>

<a href="/add-ski-jumper" style="margin-top: 15px">
    <button>Dodaj nowego skoczka</button>
</a>

<div id="container">
    <table>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Kraj</th>
            <th>Wiek</th>
            <th>Rekord</th>
            <th>Akcje</th>
        </tr>
        <tr th:each="skiJumper : ${skiJumpers}">
            <td th:text="${skiJumper.name}"></td>
            <td th:text="${skiJumper.surname}"></td>
            <td th:text="${skiJumper.country.displayName}"></td>
            <td>
                <span th:text="${skiJumper.age}"></span>
                <span>lat</span>
            </td>
            <td>
                <span th:text="${skiJumper.jumpRecord}"></span>
                <span>m</span>
            </td>
            <td>
                <a th:href="@{/edit-ski-jumper/{id}(id=${skiJumper.id})}" style="margin-top: 15px">
                <button>Edytuj</button>
                </a>
                <a th:href="@{/delete-ski-jumper/{id}(id=${skiJumper.id})}" style="margin-top: 15px">
                    <button>Usuń</button>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>